bin
obj
packages
.vs
pgp_private_key.txt
pgp_password.txt
*.pem
!Test/**/*.pem
*.pubxml
*.pubxml.user
*.csproj.user
local.settings.json
appsettings.json
node_modules
lib
.DS_Store
UserPrefs.xml
secrets.json
