html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #fff;
    background: #333;
}

h1 {
    font-family: 'Oswald', cursive;
    font-size: 180px;
}

h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 100px;
}

p {
    font-family: 'Muli', sans-serif;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
}

.btn {
    font-size: 36px;
    
}

.row-how-it-works {
    padding: 50px 0;
}

.row-footer {
    height: 100px;
    position: relative;
    background: #000;
}

.row-footer p {
    position: absolute;
    bottom: 0;
    left: 50px;
}

@media only screen and (min-width: 960px) {
    .row-hero {
        background-image: url('../images/hero.jpg');
        background-position-x: center;
        height: 120vh;
    }
}