@{
    ViewData["Title"] = "ImgBot - Home";
}

<div class="row row-hero">
    <div class="col-md-12 text-center">
        <h1>ImgBot</h1>
        <a class="btn btn-default" href="https://github.com/apps/ImgBot">Install now free</a>
    </div>
</div>

<div class="row row-how-it-works">
    <div class="col-md-12 text-center">
        <h2>How it works</h2>
        <p>Blah thtins is how to blahj and bloah to bllajsd</p>
    </div>
</div>

<div class="row row-footer">
    <p> ImgBot &copy; 2017 | ImgBotHelp@gmail.com | <a href="https://github.com/apps/ImgBot">Install now free</a> | </p>
</div>
