@{
    ViewData["Title"] = "ImgBot - Home";
}

<div class="row row-hero">
    <div class="col-md-12 text-center">
        <h1>ImgBot</h1>
        <a class="btn btn-default" href="https://github.com/apps/ImgBot">Install now free</a>
    </div>
</div>

<div class="row row-light">
    <div class="col-md-5 col-xs-offset-1 col-xs-10" style="margin-top: 30px;">
        <p class="message">ImgBot is a GitHub app designed to keep your image files optimized</p>
        <p class="hidden-xs">
            <a class="btn btn-default" href="https://github.com/apps/ImgBot">Try it now</a>
            <a class="btn btn-default" href="/docs">Docs</a>
        </p>
    </div>
    <div class="col-md-6 text-center">
        <img src="~/images/icon.svg" width="200" />
    </div>
</div>

<div class="row row-how-it-works">
    <div class="col-md-4 col-xs-offset-1 col-xs-10 text-left">
        <h2 style="">How it works</h2>
        <p>ImgBot is simple to get up and running in any GitHub repository with only a few clicks.</p>
    </div>
    <div class="col-md-5 col-xs-offset-1 col-xs-10">
        <h3>1. Install</h3>
        <p>Install ImgBot from the GitHub marketplace right into some or all of your repos with the click of a button.</p>
        <h3>2. Merge</h3>
        <p>Soon after installation, ImgBot will send you your first pull request optimizing all of the images it can find.</p>
        <h3>3. Win</h3>
        <p>As new images get uploaded into your repository ImgBot will be there to optimize them for you with more pull requests.</p>
    </div>
</div>

<div class="row row-light">
    <div class="col-md-9 col-xs-offset-1 col-xs-10">
        <p>Images often account for most of the downloaded bytes on a web page and also often occupy a significant amount of visual space. As a result, optimizing images can often yield some of the largest byte savings and performance improvements for your website: the fewer bytes the browser has to download, the less competition there is for the client's bandwidth and the faster the browser can download and render useful content on the screen.</p>
        <p> <a href="https://developers.google.com/web/fundamentals/performance/optimizing-content-efficiency/image-optimization">- Google</a>
    </div>
    <div class="col-md-9 col-xs-offset-1 col-xs-10">
        <p>Optimizing images yourself is time consuming, let ImgBot do all the heavy lifting for you.  You just sit back and review the PRs :)</p>
    </div>
</div>

<div class="row row-light text-center">
    <img src="~/images/screen.png" />
</div>

<div class="row row-footer">
    <div class="col-md-9 col-xs-offset-1 col-xs-10">
        <ul>
            <li>ImgBot &copy; 2017</li>
            <li><a href="mailto:imgbothelp@gmail.com">ImgBotHelp@gmail.com</a></li>
            <li><a href="https://github.com/apps/ImgBot">Install now free</a> </li>
            <li><a href="@Url.Action("Privacy")">Privacy policy</a></li>
            <li><a href="https://github.com/dabutvin/ImgBot/issues">Open an issue</a></li>
            <li><a href="/docs">Docs</a></li>
        </ul>
    </div>
</div>
