<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibGit2Sharp" version="0.24.0" targetFramework="net461" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.185" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.1.17" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.1.17" targetFramework="net461" />
  <package id="NSubstitute" version="2.0.3" targetFramework="net461" />
</packages>