@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ImgBot - Incident Response</title>
</head>
<body>
    <div class="row">
        <h1>ImgBot Data Breach Response Policy</h1>
        <img alt="" src="~/images/icon.svg" width="70" />

        <p>
            This policy is based on the <a href="https://www.sans.org/security-resources/policies/general/pdf/data-breach-response">policy</a> created by or for the SANS Institute. Feel free to modify or use for your
            organization. If you have a policy to contribute, please send e-mail to <a href="mailto:stephen@sans.edu">stephen@sans.edu</a>.
        </p>

        <h2>1.0 Purpose</h2>

        <p>
            The purpose of the policy is to establish the goals and the vision for the breach
            response process. This policy will clearly define to whom it applies and under what
            circumstances, and it will include the definition of a breach, staff roles and
            responsibilities, standards and metrics (e.g., to enable prioritization of the
            incidents), as well as reporting, remediation, and feedback mechanisms. The policy
            shall be well publicized and made easily available to all personnel whose duties
            involve data privacy and security protection.
        </p>

        <p>
            ImgBot Information Security's intentions for publishing a Data
            Breach Response Policy are to focus significant attention on data security and data
            security breaches and how ImgBot’s established culture of
            openness, trust and integrity should respond to such activity. ImgBot Information Security is committed to protecting ImgBot's
            employees, partners and the company from illegal or damaging actions by
            individuals, either knowingly or unknowingly.
        </p>

        <h2>1.1 Background</h2>

        <p>
            This policy mandates that any individual who suspects that a theft, breach or
            exposure of ImgBot Protected data or ImgBot
            Sensitive data has occurred must immediately provide a description of what
            occurred via e-mail to <a href="mailto:ImgBotHelp@gmail.com">ImgBotHelp@gmail.com</a>. This e-mail address
            is monitored by ImgBot’s Information Security Administrator (<a href="https://github.com/dabutvin">@@dabutvin</a>).
            ImgBot will investigate all reported thefts, data breaches and
            exposures to confirm if a theft, breach or exposure has occurred. If a theft, breach or
            exposure has occurred, the Information Security Administrator will follow the
            appropriate procedure in place.
        </p>

        <h2>2.0 Scope</h2>

        <p>
            This policy applies to all whom collect, access, maintain, distribute, process, protect,
            store, use, transmit, dispose of, or otherwise handle Personally Identifiable
            Information (PII) or Protected Health Information (PHI) of ImgBot
            members. Any agreements with vendors will contain similar protective language.
        </p>

        <h2>3.0 Policy Confirmed theft, data breach or exposure of ImgBot Protected data or ImgBot Sensitive data</h2>

        <p>
            As soon as a theft, data breach, or exposure containing ImgBot
            Protected data or ImgBot Sensitive data is identified, the process
            of removing all access to that resource will begin.
        </p>

        <p>The Executive Director (<a href="https://github.com/dabutvin">@@dabutvin</a>) will be notified of the theft, breach, or exposure and will analyze the breach or exposure to determine the root cause. Additionally the Executive Director will decide how to communicate the breach to: a) internal employees, b) the public, and c) those directly affected.</p>

        <h2>3.2 Ownership and Responsibilities</h2>

        <h3>Roles & Responsibilities:</h3>

        <ul>
            <li>
                Sponsors - Sponsors are those members of the ImgBot
                community that have primary responsibility for maintaining any particular
                information resource. Sponsors may be designated by any ImgBot
                Executive in connection with their administrative responsibilities, or by the actual
                sponsorship, collection, development, or storage of information.
            </li>

            <li>
                Information Security Administrator is that member of the ImgBot community, designated by the Executive Director, who provides administrative support for the implementation, oversight and coordination of security procedures and
                systems with respect to specific information resources in consultation with the
                relevant Sponsors.
            </li>

            <li>
                Users include virtually all members of the ImgBot
                community to the extent they have authorized access to information resources, and
                may include staff, trustees, contractors, consultants, interns, temporary employees
                and volunteers.
            </li>
        </ul>

        <h2>4.0 Enforcement</h2>

        <p>
            Any ImgBot personnel found in violation of this policy may be
            subject to disciplinary action, up to and including termination of employment. Any
            third party partner company found in violation may have their access to ImgBot
            terminated.
        </p>

        <h2>5.0 Definitions</h2>

        <ul>
            <li>
                <b>Encryption or encrypted data</b> – The most effective way to achieve data security.
                To read an encrypted file, you must have access to a secret key or password that
                enables you to decrypt it. Unencrypted data is called plain text;
            </li>

            <li><b>Plain text</b> – Unencrypted data.</li>

            <li>
                <b>Hacker</b> – A slang term for a computer enthusiast, i.e. a person who enjoys learning
                programming languages and computer systems and can often be considered an
                expert on the subject(s).
            </li>

            <li>
                <b>Protected Health Information (PHI)</b> - Under US law if any information about
                health status, provision of health care, or payment for health care that is created or
                collected by a "Covered Entity" (or a Business Associate of a Covered Entity), and
                can be linked to a specific individual.
            </li>

            <li>
                <b>Personally Identifiable Information (PII)</b> - Any data that could potentially
                identify a specific individual. Any information that can be used to distinguish one
                person from another and can be used for de-anonymizing anonymous data can be
                considered
            </li>

            <li><b>Protected data</b> - See PII and PHI</li>

            <li>
                <b>Information Resource</b> - The data and information assets of an organization,
                department or unit.
            </li>

            <li>
                <b>Safeguards</b> - Countermeasures, controls put in place to avoid, detect, counteract, or
                minimize security risks to physical property, information, computer systems, or
                other assets. Safeguards help to reduce the risk of damage or loss by stopping,
                deterring, or slowing down an attack against an asset.
            </li>

            <li>
                <b>Sensitive data</b> - Data that is encrypted or in plain text and contains PII or PHI data.
                See PII and PHI above.
            </li>
        </ul>

        <h2>6.0 Revision History</h2>

        <h3>Version 1.0</h3>
        <ul>
            <li>June 23, 2018</li>
            <li>Author: @@dabutvin</li>
            <li>Initial version</li>
        </ul>
    </div>
</body>
</html>